body {
  width: 100vw;
  background-color: pink;
  margin: 0;
  font-family: sans-serif;
}

div.header {
  height: 10vh;
  background-color: orange;
  padding: 10pt 30pt;
}

div.header > h1 {
  font-size: 12pt;
  color: white;

}
