body {
  width: 100vw;
  margin: 0;
  font-family: sans-serif;
}

div.header {
  height: 9vh;
  background-color: pink;
  padding: 5pt 0;
  text-align: center;
  justify-content: center;
}

div.header h1 {
  font-size: 35pt;
  color: white;
}

div.bar {
  background-color: blue;
  height: 5vh;
}
